/* * {
    border: 1px solid red;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #403f3f;
}

main {
    text-align: center;
}

strong {
background: #fcf5b8;
}

span {
    color: #427a5b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}