/* * {
    border: 1px solid red;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DCD7C9;
    color: #2C3639;
}

main {
    text-align: center;
}

strong {
    background: #fcf5b8;
    color: #3F4E4F;

    padding-top: 3px;
    padding-left: 2px;
    padding-bottom: 4px;
    padding-right: 2px;
}

span {
    color: #3F4E4F;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}